<% if filters_applied? %>
  <div class="mx-4 mt-4">
    <span class="text-xs font-bold tracking-wide uppercase">
      Filtered by:
    </span>

    <% if params[:tag] %>
      <span class="ml-2 px-2 py-1 text-sm text-gray-700 tracking-wide font-semibold rounded-full border-2 border-gray-700">
        <%= params[:tag]  %>
        <%= link_to "&times;".html_safe, request.params.except(:tag) %>
      </span>

    <% end %>

    <% if params[:name].present? %>
      <span class="ml-2 px-2 py-1 text-sm text-gray-700 tracking-wide font-semibold rounded-full border-2 border-gray-700">
        <%= params[:name]  %>
        <%= link_to "&times;".html_safe, request.params.except(:name, :commit) %>
      </span>
    <% end %>
  </div>
<% end %>
